source https://www.nuget.org/api/v2
nuget FSharp.Azure.Storage = 3.1.0
nuget FSharp.Data >= 3.0.0
nuget Microsoft.Azure.WebJobs.Extensions.Storage
nuget Microsoft.NET.Sdk.Functions
nuget Microsoft.Azure.WebJobs.Extensions.Http
nuget FSharp.Core